body{
    background-color: rgb(221, 226, 218);
    font-family: 'Courier New', Courier, monospace;
}
#back-paper{
    background-color: yellow;
    border: 0px solid green;
    border-radius: 25px;
    padding: 20px;
    align-content: center;
    box-shadow: 3px 2px 20px #c9b47b;


}
#he{
   
    margin: auto;
    margin-bottom: 10px;
}
.numIn{
    border-radius: 3px;
    background-color: aliceblue;
    border: 1px solid red;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;
    font-family: 'Courier New', Courier, monospace;
}
.btn{
    border-radius: 8px;
    border: 1px solid red;
    font-family: 'Courier New', Courier, monospace;
}
#btnReset{
    background-color: red;
    color:white;
}
#predict-form{
    display: none;
}
